@model Nhom1_LTWEB_Webbandongho.Models.ApplicationUser
@{
    ViewData["Title"] = "User list ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Full Name:</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Phone:</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>

        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <!-- Add other user properties here as needed -->
    </dl>
</div>